@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body, * {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: 'Cadiz';
  font-size: 1rem;
  box-sizing: border-box;
}

h1 {
  font-family: 'Playfair Display';
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 2.875rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
